# Cursos de Introdução a classificação com SKLearn

## Aula 02

### Importando as Bibliotecas necessárias

In [57]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

### Importando os datasets

In [58]:
url = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
df = pd.read_csv(url)

### Trabalhando os dados importados

In [4]:
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [5]:
df.shape

(99, 4)

In [19]:
y = df['bought']
X = df.drop(labels=['bought'], axis=1)
X.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [53]:
seed = 20
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=seed, test_size=0.25)

In [54]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
score = accuracy_score(y_test, y_pred)
print(f'A acurácia do modelo é: {score:0.2%}')

A acurácia do modelo é: 96.00%

In [55]:
y_train.value_counts(normalize=True)

0    0.662162
1    0.337838
Name: bought, dtype: float64

In [56]:
y_test.value_counts(normalize=True)

0    0.68
1    0.32
Name: bought, dtype: float64