# Data Visualization: Explorando com Seaborn

## Objetivos
* Importe dados e trabalhe com dataframes
* Aprenda a tratar os dados antes de análisar
* Saiba como utilizar o Seaborn para criação de diferentes gráficos
* Utilize o Python Pandas com a incrível ferramenta do Google Colaboratory
* Desenvolva técnicas gráficas e quantitativas, buscando a obtenção de informações relevantes

link: https://cursos.alura.com.br/course/data-visualization-com-seaborn

## Importando as bibliotecas necessárias

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importando o dataset e explorando os dados

In [7]:
dados = pd.read_csv('tips.csv')
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4